# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3ce84024d3ba724e4b24.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-17da8d91f1c060cf788d.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f18397f2d15ded088ccc.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab01-Debug-62dff7b681847123192d.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab02-Debug-2d6d48952ad3e71eadf1.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab03-Debug-eb72d0339594cb3b88e8.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab04-Debug-82437bf165b3dd926c45.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab05-Debug-9aa785eb33fc50a31b5d.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab06-Debug-4d389d56fa8321516992.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab07-Debug-5e7191910a2f0404f0ba.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab08-Debug-57adb48a1ee8fbc6ca3c.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab09-Debug-66f046851acb52ff80dc.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab10-Debug-63de3f824e5358c9cac7.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab11-Debug-f024cc85e2bae9fcafd3.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab12-Debug-43ddbcbc5e411fbc81da.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lab13-Debug-833fc2617f7143745c30.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-08T11-16-10-0774.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab1-Debug-60a1a6b10978fe5e79cb.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab2-Debug-fcde89d0337a4f9cf560.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab3-Debug-a8b167c1d633eb7be361.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab4-Debug-e6379556d39cff3fa0fb.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab5-Debug-cc716e263d736d52e74c.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab6-Debug-5938d897e7788148787d.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab7-Debug-8ab20945fbf0daa34c50.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab8-Debug-dd3e54489c4fdf33f841.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab9-Debug-8bb0f286d626ed3e8dbc.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab10-Debug-17c77fcbdfe4e949ca0a.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab11-Debug-28fcdd91871cffb9a586.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab12-Debug-9e62d441dce875ba2bcd.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab13-Debug-301b291d2d4ac593610f.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/lab01/cmake_install.cmake
/cmake-build-debug/lab01/lab1
/cmake-build-debug/lab02/cmake_install.cmake
/cmake-build-debug/lab02/lab2
/cmake-build-debug/lab03/cmake_install.cmake
/cmake-build-debug/lab03/lab3
/cmake-build-debug/lab04/cmake_install.cmake
/cmake-build-debug/lab04/lab4
/cmake-build-debug/lab05/cmake_install.cmake
/cmake-build-debug/lab05/lab5
/cmake-build-debug/lab06/cmake_install.cmake
/cmake-build-debug/lab06/lab6
/cmake-build-debug/lab07/cmake_install.cmake
/cmake-build-debug/lab07/lab7
/cmake-build-debug/lab08/cmake_install.cmake
/cmake-build-debug/lab08/lab8
/cmake-build-debug/lab09/cmake_install.cmake
/cmake-build-debug/lab09/lab9
/cmake-build-debug/lab10/cmake_install.cmake
/cmake-build-debug/lab10/lab10
/cmake-build-debug/lab11/cmake_install.cmake
/cmake-build-debug/lab11/lab11
/cmake-build-debug/lab12/cmake_install.cmake
/cmake-build-debug/lab12/lab12
/cmake-build-debug/lab13/cmake_install.cmake
/cmake-build-debug/lab13/lab13
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/
/lab01/cmake-build-debug/
/lab02/cmake-build-debug/
/lab03/cmake-build-debug/
/lab05/cmake-build-debug/
/lab06/cmake-build-debug/
/lab08/cmake-build-debug/
/lab09/cmake-build-debug/
